@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* GENERAL*/
body {
/*	background: rgba(17,28,44,1);*/
	background: rgba(250,249,246,1);
	width: 100%;
}

.background-light {
	background: rgba(17,28,44,0.85);
}

h4 {
	color: rgba(212,138,122,1);
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

h5 {
/*	color: rgba(99,121,156,1.00);*/
	color: rgba(17,28,44,1);
	text-transform: uppercase;
}

footer{
	text-align: center;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-size: 12px;
/*	color: rgba(73,80,87,1);*/
	color: rgba(17,28,44,0.5);
	width: 100%;
}

.underline {
	text-decoration: underline;
}

/* LOGO & SLOGAN*/
#logo-slogan, #profile {
	text-align: center;
	margin-top: 75px;
}

#slogan {
	font-family: Michroma, sans-serif;
	margin-top: 30px;
	margin-bottom: 70px;
	font-size: 16px;
	letter-spacing: 0.15em;
	color: rgba(99,121,156,1.00);
}

.statement, #resume p, ul, #project p{
/*	color: rgba(255,255,255,1);*/
	color: rgba(17,28,44,1);
}

/* NAVIGATION */
.nav-item {
	letter-spacing: 0.15em;
  	text-transform: uppercase;
	color: rgba(17,28,44,1);
}

.nav-link {
	color: rgba(17,28,44,1);
}

.sticky {
	position: fixed;
	top: 0.5em;
	z-index: 1;
}

.nav-link:hover {
	color: rgba(212,138,122,1);
}

.live {
	color: rgba(212,138,122,1);
}

.mobile-brand.abs {
/*    color: rgba(255,255,255,1);*/
	color: rgba(17,28,44,1); 
  	font-weight: 500;
  	letter-spacing: 0.15em;
  	text-transform: uppercase;
	font-size: 30px;
	position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

@media screen and (max-width: 768px) {
	.mobile-brand.abs {
		display: none;
	}
}

.navbar-brand.abs {
/*    color: rgba(255,255,255,1);*/
	color: rgba(17,28,44,1);
  	font-weight: 500;
  	letter-spacing: 0.15em;
  	text-transform: uppercase;
	font-size: 30px;
	position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

a:hover {
	text-decoration: none;
}

.dropdown {
	z-index: 1;
}

.dropdown-menu {
/*	background-color: rgba(99,121,156,1.00);*/
	background-color: rgba(17,28,44,1);
}

.dropdown-item {
/*	color: rgba(255,255,255,1);*/
	color: rgba(250,249,246,1);
}

.dropdown-item:hover {
/*	background-color: rgba(17,28,44,1);*/
	background-color: rgba(250,249,246,1);
/*	color: rgba(255,255,255,1);*/
	color: rgba(17,28,44,1);
}

.dropdown-category {
	color: rgba(212,138,122,1);
	font-weight: 500;
}

.dropdown-category:hover {
	background-color: rgba(17,28,44,1);
	color: rgba(212,138,122,1);	
}

/* CASE STUDY GRID*/
.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.row .column {
	width: auto;
	overflow: hidden;
	padding: 0 5px;
	height: 100%;
}

.row .column img {
	width: 100%;
	height: 100%;
}

.case-study-grid, .profile {
	margin-left: auto;
	margin-right: auto;
}

/* HOVER OVERLAY */
.content {
  	position: relative;
  	overflow: hidden;
  	margin-bottom: 40px;
}

.content .content-overlay {
  	background: rgba(0,0,0,0.7);
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	-webkit-transition: all 0.4s ease-in-out 0s;
  	-moz-transition: all 0.4s ease-in-out 0s;
  	transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  	opacity: 1;
}

.content-details {
  	position: absolute;
  	text-align: center;
  	width: 80%;
  	top: 50%;
  	left: 50%;
  	opacity: 0;
  	-webkit-transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	-moz-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  	top: 50%;
  	left: 50%;
  	opacity: 1;
}

.content-details h3{
  	color: rgba(255,255,255,1);
  	font-weight: 500;
  	letter-spacing: 0.15em;
  	text-transform: uppercase;
}

.content-details p{
  	color: rgba(255,255,255,1);
  	font-size: 1.1em;
}

.fadeIn-bottom{
  	top: 60%;
}

/* ABOUT */
.bio {
	margin-top: 50px;
}

.greeting {
/*	color: rgba(255,255,255,1);*/
	color: rgba(17,28,44,1);
	font-size: 48px;
	line-height: 1.25em;

}

.bio-detail {
/*	color: rgba(255,255,255,1);*/
	color: rgba(17,28,44,1);
}

.fa {
/*	color: rgba(255,255,255,1);*/
	color: rgba(17,28,44,1);
}

.fa:hover {
	color: rgba(212,138,122,1);
	transition: 0.5s;
}

/* RESUME */

#resume .indent {
	text-indent: 50px;
}

#resume .italic {
	font-style: italic;
}

#resume .bold {
	font-weight: bold;
}

#resume .full-indent {
	margin-left: 50px;
}

#resume .sub-header {
	color: rgba(212,138,122,1);
}

/* PROJECTS */
.project-title {
	text-align: center;
	margin-top: 50px;
	color: rgba(212,138,122,1);
	font-size: 55px;
}

.input-color {
    position: relative;
}

.input-color input {
    padding-left: 20px;
}

.color-1 {
	background-color: rgba(237,32,36,1);
}

.color-2 {
	background-color: rgba(241,90,38,1);
}

.color-3 {
	background-color: rgba(247,148,32,1);
}

.color-4 {
	background-color: rgba(41,170,226,1);
}

.color-5 {
	background-color: rgba(46,54,143,1);
}

.color-6 {
	background-color: rgba(217,189,156,1);
}

.color-7 {
	background-color: rgba(242,219,174,1);
}

.color-8 {
	background-color: rgba(124,166,158,1);
}

.color-9 {
	background-color: rgba(59,126,140,1);
}

.color-10 {
	background-color: rgba(50,71,89,1);
}

.color-11 {
	background-color: rgba(210,35,42,1);
}

.color-12 {
	background-color: rgba(224,167,83,1);
}

.color-13 {
	background-color: rgba(0,174,239,1);
}

.color-14 {
	background-color: rgba(172,100,55,1);
}

.color-15 {
	background-color: rgba(203,178,162,1);
}

.color-16 {
	background-color: rgba(132,173,214,1);
}

.color-17 {
	background-color: rgba(46,129,188,1);
}

.color-18 {
	background-color: rgba(72,78,87,1);
}

.color-19 {
	background-color: rgba(164,44,98,1);
}

.color-20 {
	background-color: rgba(193,155,178,1);
}

.color-21 {
	background-color: rgba(181,225,228,1);
}

.color-22 {
	background-color: rgba(62,162,191,1);
}

.color-23 {
	background-color: rgba(50,66,125,1);
}

.color-24 {
	background-color: rgba(10,19,53,1);
}

.color-25 {
	background-color: rgba(185,76,51,1);
}

.color-26 {
	background-color: rgba(228,166,106,1);
}

.color-27 {
	background-color: rgba(123,185,207,1);
}

.color-28 {
	background-color: rgba(178,176,216,1);
}

.color-29 {
	background-color: rgba(53,61,110,1);
}

.color-30 {
	background-color: rgba(242,242,242,1);
}

.color-31 {
	background-color: rgba(89,25,25,1);
}

.color-32 {
	background-color: rgba(242,214,189,1);
}

.color-33 {
	background-color: rgba(216,217,199,1);
}

.color-34 {
	background-color: rgba(26,26,26,1);
}

.color-35 {
	background-color: rgba(179,35,53,1);
}

.color-36 {
	background-color: rgba(165,186,178,1);
}

.color-37 {
	background-color: rgba(90,123,95,1);
}

.color-38 {
	background-color: rgba(21,96,61,1);
}

.color-39 {
	background-color: rgba(64,81,51,1);
}

.color-40 {
	background-color: rgba(107,107,107,1);
}

.color-41 {
	background-color: rgba(243,243,243,1);
}

.color-42 {
	background-color: rgba(88,121,208,1);
}

.color-43 {
	background-color: rgba(227,67,62,1);
}

.color-44 {
	background-color: rgba(150,200,90,1);
}

.color-45 {
	background-color: rgba(96,150,61,1);
}

.color-46 {
	background-color: rgba(114,126,188,1);
}

.color-47 {
	background-color: rgba(87,0,112,1);
}

.color-48 {
	background-color: rgba(245, 249, 251, 1);
}

.color-49 {
	background-color: rgba(229, 243, 252, 1);
}

.color-50 {
	background-color: rgba(251, 208, 209, 1);
}

.color-51 {
	background-color: rgba(249, 214, 170, 1);
}

.color-52 {
	background-color: rgba(174, 215, 162, 1);
}

.color-53 {
	background-color: rgba(146, 196, 234, 1);
}

.color-54 {
	background-color: rgba(80, 143, 204, 1);
}

.color-55 {
	background-color: rgba(196, 197, 223, 1);
}

.color-56 {
	background-color: rgba(255, 255, 255, 1);
}

.color-57 {
	background-color: rgba(234, 204, 186, 1);
}

.color-58 {
	background-color: rgba(238, 53, 36, 1);
}

.color-59 {
	background-color: rgba(0, 0, 0, 1);
}

.color-60 {
	background-color: rgba(189, 179, 135, 1);
}

.color-61 {
	background-color: rgba(216, 88, 41, 1);
}

.color-62 {
	background-color: rgba(61, 49, 138, 1);
}

.color-63 {
	background-color: rgba(28, 31, 38, 1)
}

.light-color {
	color: rgba(0,0,0,1);	
}

#project {
	width: 100%;
}

#project .italic {
	font-style: italic;
}

th {
	color: rgba(99,121,156,1.00);
	font-size: 1.25em;
	font-weight: normal;
	padding-bottom: 20px;
}

table td {
	color: rgba(255,255,255,1);
}

.image-center {
	text-align: center;
}

.description-center {
	display: inline-block;
	text-align: left;
}

.fa-plus:hover {
	color: rgba(255,255,255,1)
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.video-container {
	aspect-ratio: 16/9;
}

.video-container iframe {
	width: 100%;
	height: 100%;
}

.website {
/*	color: rgba(255,255,255,1);*/
	color: rgba(17,28,44,1);
}

.website:hover {
	color: rgba(212,138,122,1);
	text-decoration: none;
}

.navbar-collapse {
	z-index: 1;
}

@media screen and (max-width: 768px) {
	.navbar-brand.abs {
		margin-top: 2.5rem;
	}
	.navbar-toggler {
		position: absolute;
    	width: auto;
		margin-top: 2.5rem;
	}
	.navbar-collapse {
		position: absolute;
    	width: 50%;
		top: 4rem;
/*		background-color: rgba(17,28,44,1);*/
		background-color: rgba(250,249,246,1);
		z-index: 1;
	}
	.navbar-toggler-icon {
		background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 17, 28, 44%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}
}
	
@media screen and (max-width: 600px) {
	.navbar-brand.abs {
		display: none;
	}
	.navbar-toggler {
		position: absolute;
    	width: auto;
    	left: 50%;
    	transform: translateX(-50%);
		text-align: center;
		margin-top: 2.5rem;
	}
	.navbar-collapse {
		position: absolute;
    	width: 100%;
    	left: 50%;
    	transform: translateX(-50%);
		text-align: center;
		top: 4rem;
/*		background-color: rgba(17,28,44,1);*/
		background-color: rgba(250,249,246,1);
		z-index: 1;
	}
	.dropdown-item {
		text-align: center;
	}
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 900ms;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

@media screen and (max-width: 600px) {
	.no-shift {
		transform: translateX(-50%);
	}
}

.grid1:nth-child(2) {
	transition-delay: 300ms;
}

.grid1:nth-child(3) {
	transition-delay: 600ms;
}

.grid2:nth-child(2) {
	transition-delay: 300ms;
}

.grid2:nth-child(3) {
	transition-delay: 600ms;
}

.grid3:nth-child(2) {
	transition-delay: 300ms;
}

.grid3:nth-child(3) {
	transition-delay: 600ms;
}

.grid4:nth-child(4) {
	transition-delay: 900ms;
}

.grid4:nth-child(2) {
	transition-delay: 300ms;
}

.grid4:nth-child(3) {
	transition-delay: 600ms;
}

.grid4:nth-child(4) {
	transition-delay: 900ms;
}

.sumayyahs_refuge_about:nth-child(2) {
	transition-delay: 300ms;
}

.sumayyahs_refuge_typography_and_colors:nth-child(2) {
	transition-delay: 300ms;
}

.the_anchor_about:nth-child(2) {
	transition-delay: 300ms;
}

.the_anchor_typography_and_color:nth-child(2) {
	transition-delay: 300ms;
}

.level_10_about:nth-child(2) {
	transition-delay: 300ms;
}

.level_10_typography_and_color:nth-child(2) {
	transition-delay: 300ms;
}

.echo_drop_about:nth-child(2) {
	transition-delay: 300ms;
}

.echo_drop_typography_and_color:nth-child(2) {
	transition-delay: 300ms;
}

.mova_globes_about:nth-child(2) {
	transition-delay: 300ms;
}

.mova_globes_typography_and_color:nth-child(2) {
	transition-delay: 300ms;
}

.mental_health_suggestions_about:nth-child(2) {
	transition-delay: 300ms;
}

.mental_health_suggestions_typography_and_color:nth-child(2) {
	transition-delay: 300ms;
}

.buster_posey_about:nth-child(2) {
	transition-delay: 300ms;
}

.buster_posey_typography_and_color:nth-child(2) {
	transition-delay: 300ms;
}

.devin_booker_about:nth-child(2) {
	transition-delay: 300ms;
}

.devin_booker_typography_and_color:nth-child(2) {
	transition-delay: 300ms;
}

.weather_check_about:nth-child(2) {
	transition-delay: 300ms;
}

.weather_check_typography_and_color:nth-child(2) {
	transition-delay: 300ms;
}

.blackjack_strategy_about:nth-child(2) {
	transition-delay: 300ms;
}

.blackjack_strategy_typography_and_color:nth-child(2) {
	transition-delay: 300ms;
}

.festive_reviewer_about:nth-child(2) {
	transition-delay: 300ms;
}

.festive_reviewer_typography_and_color:nth-child(2) {
	transition-delay: 300ms;
}

.ecommerce_about:nth-child(2) {
	transition-delay: 300ms;
}

.ecommerce_typography_and_color:nth-child(2) {
	transition-delay: 300ms;
}

.education-logo:nth-child(2) {
	transition-delay: 300ms;
}

.education-logo:nth-child(3) {
	transition-delay: 600ms;
}

.education-logo:nth-child(4) {
	transition-delay: 900ms;
}

.education-logo:nth-child(5) {
	transition-delay: 1200ms;
}

.tools:nth-child(2) {
	transition-delay: 300ms;
}

.tools:nth-child(3) {
	transition-delay: 600ms;
}

.tools:nth-child(4) {
	transition-delay: 900ms;
}

.experience-logo:nth-child(2) {
	transition-delay: 300ms;
}

.experience-logo:nth-child(3) {
	transition-delay: 600ms;
}

.experience-logo:nth-child(4) {
	transition-delay: 900ms;
}

.anchor-logo:nth-child(2) {
	transition-delay: 300ms;
}

.anchor-logo:nth-child(3) {
	transition-delay: 600ms;
}

.social:nth-child(2) {
	transition-delay: 300ms;
}

.social:nth-child(3) {
	transition-delay: 600ms;
}

.menu:nth-child(2) {
	transition-delay: 300ms;
}

.menu:nth-child(3) {
	transition-delay: 600ms;
}

.anchor-shirt:nth-child(2) {
	transition-delay: 300ms;
}

.level10-logo:nth-child(2) {
	transition-delay: 300ms;
}

.level10-sticker:nth-child(2) {
	transition-delay: 300ms;
}

.level10-shirt:nth-child(2) {
	transition-delay: 300ms;
}

.level10-shirt:nth-child(3) {
	transition-delay: 600ms;
}

.movaglobes:nth-child(2) {
	transition-delay: 300ms;
}

.weathercheck-logo:nth-child(2) {
	transition-delay: 300ms;
}

.weathercheck-logo:nth-child(3) {
	transition-delay: 600ms;
}

.weathercheck-prototype:nth-child(2) {
	transition-delay: 300ms;
}

.weathercheck-app:nth-child(2) {
	transition-delay: 300ms;
}

.blackjackstrategy-logo:nth-child(2) {
	transition-delay: 300ms;
}

.blackjackstrategy-logo:nth-child(3) {
	transition-delay: 600ms;
}

.blackjackstrategy-prototype:nth-child(2) {
	transition-delay: 300ms;
}

.blackjackstrategy-app:nth-child(2) {
	transition-delay: 300ms;
}

.festivereviewer-logo:nth-child(2) {
	transition-delay: 300ms;
}

.festivereviewer-logo:nth-child(3) {
	transition-delay: 600ms;
}

.festivereviewer-logo:nth-child(4) {
	transition-delay: 900ms;
}

.festivereviewer-logo:nth-child(5) {
	transition-delay: 1200ms;
}

.festivereviewer-website:nth-child(2) {
	transition-delay: 300ms;
}

.festivereviewer-website:nth-child(3) {
	transition-delay: 600ms;
}

.festivereviewer-website:nth-child(4) {
	transition-delay: 900ms;
}

.ecommerce-wireframe:nth-child(2) {
	transition-delay: 300ms;
}

.ecommerce-mockup:nth-child(2) {
	transition-delay: 300ms;
}